h1,h2{
	text-align: center;
}
.action{
	width:95%;
	margin:10px auto;
}
.table{
	width:95%;
	margin:0 auto;
}
th{
	text-align: center;
}
td:last-child{
	text-align: center;
}
td{
	vertical-align: middle;
}
.bottom-action{
	text-align: right;
	width:95%;
	margin:0 auto;
}
.output{
	width:500px;
	margin: 10px auto;
	border:1px solid #333;
	padding:20px;
}
.output+.bottom-action{
	width:500px;
}
