<div class="action">
	<a href="#/new" class="btn btn-primary">Add New</a>
	<a class="btn btn-primary" href="#/output">Output to JSON File</a>
</div>
<table class="table">
	<thead>
		<tr>
			<th>Index</th>
			<th ng-repeat="input in shopForm">{{input.model}}</th>
		</tr>
	</thead>
	<tbody class="table-striped">
		<tr ng-repeat="shop in shopData track by $index">
			<td>{{$index}}</td>
			<td ng-repeat="input in shopForm">{{shop[input.model]}}</td>
			<td>
				<a href="#/edit/{{$index}}" class="btn btn-warning">Edit</a>
				<a ng-click="delete($index)" class="btn btn-danger">Delete</a>
			</td>
		</tr>
	</tbody>
</table>
