<div class="action">
	<a href="#/new" class="btn btn-primary">Add New</a>
	<a class="btn btn-primary" href="#/output">Output to JSON File</a>
</div>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Index</th>
			<th ng-repeat="input in shopForm">{{input.header}}</th>
			<th>Actions</th>
	</thead>
	<tbody>
		<tr ng-repeat="shop in shopData track by $index">
			<td>{{$index}}</td>
			<td ng-repeat="input in shopForm" ng-if="!input.element">{{shop[input.model]}}</td>
			<td  ng-repeat="input in shopForm" ng-if="input.element=='list'" ng-bind-html="shop[input.model] | list">
			</td>
			<td>
				<a href="#/edit/{{$index}}" class="btn btn-warning">Edit</a>
				<a ng-click="delete($index)" class="btn btn-danger">Delete</a>
			</td>
		</tr>
	</tbody>
</table>
