<div class="action">
	<a href="#/new" class="btn btn-danger">Add New</a>
	<a class="btn btn-danger" ng-click="output()">Output to JSON File</a>
</div>
<table class="table">
	<thead>
		<tr>
			<th>Index</th>
			<th>Name</th>
			<th>Contact Number</th>
		</tr>
	</thead>
	<tbody class="table-striped">
		<tr ng-repeat="shop in shopData track by $index">
			<td>{{$index}}</td>
			<td>{{shop.name}}</td>
			<td>{{shop.tel}}</td>
			<td><a href="#/edit/{{$index}}" class="btn btn-warning">Edit</a></td>
		</tr>
	</tbody>
</table>