<h2>Edit This Shop</h2>
<form id="shop-form" ng-submit="edit()">
	<table class="table">
		<thead>
			<th>No.</th>
			<th>Name</th>
			<th>Contact Number</th>
		</tr>
	</thead>
		<tbody class="table-striped">
			<tr >
				<td>{{index}}</td>
				<td ng-repeat="input in shopForm"><input class="form-control" type="{{input.type}}" name="{{input.name}}" ng-model="originalData[input.model]" value="originalData[input.model]" placeholder="{{input.placeholder}}"></td>
			</tr>
		</tbody>
	</table>

	<input type="submit" class="btn btn-primary" name="" value="Save">
</form>